# -*- mode: snippet -*-
# name: entry insert for <f7> run scheme
# key: ;en
# binding: direct-keybinding
# condition: 'force-in-comment
# expand-env: ((yas-indent-line 'fixed))
# contributor: Javran Cheng
# --
;; Local variables:
;; proc-entry: "$1"
;; End:
$0
